index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="importadora de productos peruanos">
    <meta name="keywords" content="pisco,pisco sour, peru,wasska,chifles,gelatinas,mote gigante,vinos,paneton,chocolate,ekeko,artesania,inca kola,crush,cusquena,malta,importadora,peruana,g&amp;c,gyc,corporation,infusiones,snacks,papas,nativas">
    <title>G&C CORPORATION - Importadora de productos peruanos      </title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/template_style.css">
    <link rel="stylesheet" href="/css/superfish.css">
  </head>
  <body></body>
</html>
<div class="main-container">
  <div id="menu_wrap">
    <ul class="sf-menu">
      <li><a class="current" href="index.html">INICIO</a></li>
      <li><a href="empresa.html">EMPRESA</a></li>
      <li><a href="productos.html">PRODUCTOS</a></li>
      <li><a href="contacto.html">CONTACTO</a></li>
      <li><a href="inscripcion.html" style="background-color:#B0C72C;color:white;font-weight: 900;">REGISTRARSE</a></li>
    </ul>
    <div class="logo2" title="My site"></div>
    <div id="free_for_job"></div>
  </div>
</div>
<div id="banner_wrap">
  <div id="imgs"><a class="prev"></a><a class="next"></a>
    <div id="slideshow">
      <ul>
        <li><img src="images/banner/full17.jpg" alt="screenshot" width="962" height="300"></li>
        <li><img src="images/banner/full20.jpg" alt="screenshot" width="962" height="300"></li>
        <li><img src="images/banner/full14.jpg" alt="screenshot" width="962" height="300"></li>
        <li><img src="images/banner/full13.jpg" alt="screenshot" width="962" height="300"></li>
      </ul>
    </div>
  </div>
  <!-- sidebar-->
  <div class="content_bg_nosidebar" id="content_wrap">
    <div class="clear"></div>
    <div class="sidebar_box">
      <h2>PRODUCTOS</h2>
      <p class="recent_post2"><a href="provenzal.html">PROVENZAL</a><br><small>Base deshidratada para comidas</small></p>
      <p class="recent_post2"><a href="gloria.html">GLORIA</a><br><small>Jugos, néctares y saborizadas</small></p>
      <p class="recent_post2"><a href="universal.html">UNIVERSAL</a><br><small>Postres instantáneos</small></p>
      <p class="recent_post2"><a href="lindley.html">ARCA CONTINENTAL</a><br><small>Gaseosas</small></p>
      <p class="recent_post2"><a href="arezo.html">AREZZO</a><br><small>Pasta de Ajíes</small></p>
      <p class="recent_post2"><a href="perucheff.html">PERU CHEFF</a><br><small>Menestras</small></p>
      <p class="recent_post2"><a href="peruchefft.html">PERU CHEFF</a><br><small>Condimentos</small></p>
      <p class="recent_post2"><a href="perucheffc.html">PERU CHEFF</a><br><small>Congelados</small></p>
      <p class="recent_post2"><a href="peruchefpa.html">PERU CHEFF</a><br><small>Pasta y Ajíes</small></p>
      <p class="recent_post2"><a href="tabernero.html">TABERNERO</a><br><small>Vinos, piscos y espumantes</small></p>
      <p class="recent_post2"><a href="cusquena.html">CUSQUENA</a><br><small>Cerveza rubia y malta</small></p>
      <p class="recent_post2"><a href="cartavio.html">CARTAVIO</a><br><small>Ron</small></p>
      <p class="recent_post2"><a href="intipalka.html">INTIPALKA</a><br><small>Vinos</small></p>
      <p class="recent_post2"><a href="hornimans.html">HORNIMANS</a><br><small>Infusiones</small></p>
      <p class="recent_post2"><a href="inca_sur.html">INCASUR</a><br><small>Tableta para taza</small></p>
      <p class="recent_post2"><a href="kikko.html">KIKKO</a><br><small>Siyau y vinagre</small></p>
    </div>
    <div class="content_box1" id="box2">
      <p><a class="espanoli_link" href="index.html"></a><a class="nihongoi_link" href="index2.html" name="top"></a><a class="portuguesi_link" href="index4.html" name="top"></a><a class="pp1" href="anuncio.html"></a></p>
    </div>
    <div class="content_box2" id="box2"><a class="pp2" href="paneton.html"></a><a class="pp3" href="inca_sur.html"></a><a class="pp4" href="tabernero.html"></a></div>
    <div class="content_box3" id="box3">
      <p><a class="prom" href="piscobase.html"></a></p>
    </div>
    <div class="content_box4" id="box3">
      <p><a class="nov" href="calendario.html"></a></p>
    </div>
    <div class="content_box5" id="box4"><a class="mail" href="mailto:info@gyc-corp.com"></a></div>
    <div class="clear"></div>
    <div id="footer_wrap">
      <div id="top_footer"></div>
      <div id="bottom_footer">  G&C Corporation 2017
        <div id="footer_menu"><a href="index.html">Inicio</a> |<a href="empresa.html">Empresa</a> |<a href="productos.html">Productos</a> |<a href="contacto.html">Contacto</a> |  </div><a id="top_button" href="#top">TOP</a>
      </div>
    </div><map id="Map" name="Map">
      <area shape="rect" coords="21,9,291,168" href="evento5.html"></map><map id="Map3" name="Map3">
      <area shape="rect" coords="17,11,121,174" href="artesania.html"></map>
    <script language="JavaScript">
      function Abrir_ventana (pagina) {
      var opciones="toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=yes, width=650, height=1010, top=85, left=140";
      window.open(pagina,"",opciones);
      }
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="js/jCarousel/jcarousellite_1.0.1.pack.js"></script>
    <script type="text/javascript">
      $(function() {
      $("#slideshow").jCarouselLite({
      btnNext: ".next",
      btnPrev: ".prev",
      horizontal: true ,
      speed: 500,
      auto:4000,
      visible: 1
      });
      $("#slideshow2").jCarouselLite({
      btnNext: ".next",
      btnPrev: ".prev",
      visible: 1,
      auto:4000,
      speed:500
      });
      });
    </script>
    <script type="text/javascript" src="js/hoverIntent.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
    <script type="text/javascript">
      // initialise plugins
      jQuery(function(){
      jQuery('ul.sf-menu').superfish();
      });
    </script>
  </div>
</div>

dev/views/index.pug
extends layout/base
block content
  include blocks/menu.pug
  .main-container  
    #banner_wrap
      #imgs
        a.prev
        a.next
        #slideshow
          ul
            li
              img(src='images/banner/full17.jpg', alt='screenshot', width='962', height='300')
            li
              img(src='images/banner/full20.jpg', alt='screenshot', width='962', height='300')
            li
              img(src='images/banner/full14.jpg', alt='screenshot', width='962', height='300')
            li
              img(src='images/banner/full13.jpg', alt='screenshot', width='962', height='300')
      // sidebar
      #content_wrap.content_bg_nosidebar
        .clear
        .sidebar_box
          h2 PRODUCTOS
          p.recent_post2
            a(href='provenzal.html') PROVENZAL
            br
            small Base deshidratada para comida
          p.recent_post2
            a(href='gloria.html') GLORIA
            br
            small Jugos, néctares y saborizadas
          p.recent_post2
            a(href='universal.html') UNIVERSAL
            br
            small Postres instantáneos
          p.recent_post2
            a(href='lindley.html') ARCA CONTINENTAL
            br
            small Gaseosas
          p.recent_post2
            a(href='perucheff.html') PERU CHEFF
            br
            small Menestras
          p.recent_post2
            a(href='peruchefft.html') PERU CHEFF
            br
            small Condimentos
          p.recent_post2
            a(href='perucheffc.html') PERU CHEFF
            br
            small Congelados
          p.recent_post2
            a(href='tabernero.html') TABERNERO
            br
            small Vinos, piscos y espumantes
          p.recent_post2
            a(href='cusquena.html') CUSQUENA
            br
            small Cerveza rubia y malta
          p.recent_post2
            a(href='cartavio.html') CARTAVIO
            br
            small Ron
          p.recent_post2
            a(href='intipalka.html') INTIPALKA
            br
            small Vinos
          p.recent_post2
            a(href='hornimans.html') HORNIMANS
            br
            small Infusiones
          p.recent_post2
            a(href='inca_sur.html') INCASUR
            br
            small Tableta para taza
          p.recent_post2
            a(href='kikko.html') KIKKO
            br
            small Siyau y vinagre
        #box2.content_box1
          p
            a.espanoli_link(href='index.html')
            a.nihongoi_link(href='index2.html', name='top')
            a.portuguesi_link(href='index4.html', name='top')
            a.pp1(href='anuncio.html')
        #box2.content_box2
          a.pp2(href='paneton.html')
          a.pp3(href='inca_sur.html')
          a.pp4(href='tabernero.html')
        #box3.content_box3
          p
            a.prom(href='piscobase.html')
        #box3.content_box4
          p
            a.nov(href='novedades.html')
        #box4.content_box5
          a.mail(href='mailto:info@gyc-corp.com')
        .clear
 
      include blocks/footer
  
